body {
  color: #b1f3f9c3
  
}
body, html {
    font-size: 95.5%;
    background: black;
}
h1 {
  background: -webkit-linear-gradient(#b1f3f9, #d1ffe272);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* custom cursor! */
html {
    cursor: url('https://github.com/neonforestmist/neonwebsite/raw/main/cursor.cur'), default;
}
