body {
  color: #B6FAD3;
}

body, html {
    font-size: 115.5%;
    background: linear-gradient(132deg, rgba(2,0,36,1) 0%, rgba(7,68,73,1) 69%, rgba(0,0,0,1) 100%);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    background: linear-gradient(to right, #7bd7af 0%, #6393C1 42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em; 
    margin: 20px 0;
}

h2 {
    background: linear-gradient(to right, #B6FAD3 0%, #6EB0C3 42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em; 
    margin: 20px 0;
}

a {
    background: #56cfff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em; 
}

p {
    font-size: 1.2em; 
    line-height: 1.6;
    margin: 15px 0;
}

/* custom cursor ! */
html {
    cursor: url('https://github.com/neonforestmist/neonwebsite/raw/main/cursor.cur'), default;
    height: 100%;
}

/* this does something */
html, body {
    height: 100%;
}
