body {
    color: #B6FAD3;
    position: relative;
    z-index: 1;
}

body, html {
    font-size: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* i like scrolling */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://raw.githubusercontent.com/neonforestmist/neonwebsite/main/test/extras/assets/shifting_rose_bg.gif') no-repeat center center fixed;
    background-size: cover;
    filter: blur(2px); /* Adjust the blur level as needed */
    opacity: 0.85; /* Adjust the opacity as needed */
    z-index: -1;
}

h1, h2, p, a {
    padding-left: 18px;
}

h1 {
background: linear-gradient(to right, #f2a7c6 0%, #ebafa1 42%);
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em; 
    margin: 20px 0;
}

h2 {
    background: linear-gradient(to right, #B6FAD3 0%, #6EB0C3 42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em; 
    margin: 20px 0;
}

a {
    background: #56cfff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #74bbd2;
    font-size: 1.2em; 
}

p {
    font-size: 1.2em; 
    line-height: 1.6;
    margin: 15px 0;
}
/* custom cursor ! */
html {
    cursor: url('https://github.com/neonforestmist/neonwebsite/raw/main/test/extras/assets/shifting_rose_cursor.cur'), default;
    height: 100%;
}

/* this does something */
html, body {
    height: 100%;
}
/* cursor glow effect */
:root {
  --glow-rgb: 254,197,229;
}

.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
  pointer-events: none;
}

.star {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
    opacity: 0;
  }
  
  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }
  
  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }
  
  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
    opacity: 0;
  }
}
